.container-wraper {
    position: absolute;
    width: 100%;
    bottom: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-wrapper {
        flex: 1;
        text-align: center;

        .d-btn {
            width: 80%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            cursor: pointer;
            user-select: none;
            letter-spacing: 1rem;
            text-indent: 1rem;
            border-radius: 20px;
            box-sizing: border-box;
        }

        .d-btn-3d {
            color: #fff;
            background-color: #f1c40f;
            text-shadow: -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0);
            box-shadow: 0px 8px 0px 0px #f39c12;
            transition: all .5s;

            &:hover {
                background-color: #fcdc5e;
            }

            &:active {
                transform: translate(0, 4px);
                box-shadow: 0px 1px 0px 0px #f39c12;
            }
        }


        .d-btn-gray {
            color: #fff;
            background-color: #e5d9a8;
            text-shadow: -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0),
                -2px 2px 2px rgb(209 132 0);
            box-shadow: 0px 8px 0px 0px #dad0c1;
            transition: all .5s;

            &:hover {
                background-color: #ebd993;
            }

            &:active {
                transform: translate(0, 4px);
                box-shadow: 0px 1px 0px 0px #c09b5e;
            }
        }
    }
}