.cp-btn-wrapper {
    display: inline-block;
    padding: 0 1em;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;

    span {
        cursor: pointer;
    }

    span.separator {
        margin: 0 4px
    }
}