.site-logo {
    height: 64px;
    color: #FFF;
    white-space: nowrap;


    img {
        width: 32px;
        height: 32px;
        margin: 0 16px;
        margin-right: 10px;
        vertical-align: middle;
        transition: all .3s;
    }

    .title-wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        .title {
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            font-weight: bold;
        }

        .sec-title {
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            font-weight: bold;
        }
    }


}